.images {
    width: 280px;
    height: 400px;
    object-fit: cover;
    object-position: center center;
    margin: 10px 20px;
    border-radius: 15px;
    box-shadow: 4px 4px 8px 0 rgba(34,60,80,0.2);
    cursor: pointer;
}